//----------------------------------
//          COLOR               |
//----------------------------------
$bluePrimary50: rgba(230, 238, 247, 1);
$bluePrimary60: rgba(0, 63, 125, 1);
$bluePrimary300: rgba(102, 152, 202, 1);
$bluePrimary400: rgba(51, 118, 184, 1);
$bluePrimary500: rgba(0, 84, 166, 1);
$bluePrimary600: rgba(0, 63, 125, 1);
$gray50: rgba(240, 240, 240, 1);
$gray400: rgba(133, 133, 133, 1);
$gray500: rgba(102, 102, 102, 1);
$gray600: rgba(77, 77, 77, 1);
$green-50: rgba(230, 247, 230, 1);
$green-500: rgba(3, 166, 0, 1);