@import "variable";
@import "keyframes";
//---------------------------
//      RESET CSS           |
//---------------------------

html {
  font-size: 10px;

  @media (max-width: 576px) {
    font-size: 6px;
  }

  @media (min-width: 576px) {
    font-size: 7px;
  }

  @media (min-width:992px) and (max-width: 1200px) {
    font-size: 8px;
  }

  @media (min-width: 1200px) {
    font-size: 10px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: normal;
  font-family: 'Roboto', sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: white;
}

ul {
  list-style: inside;
}

ul, p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

@font-face {
  font-family: 'Philosopher';
  font-weight: normal;
  font-display: swap;
  src: local("Philosopher Regular"), local("Philosopher-Regular"), url("../../shared/assets/font/Philosopher/Philosopher-Regular.ttf");
}

@font-face {
  font-family: 'Philosopher';
  font-weight: bold;
  font-display: swap;
  src: local("Philosopher Bold"), local("Philosopher-Bold"), url("../../shared/assets/font/Philosopher/Philosopher-Bold.ttf");
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica Neue"), url("../../shared/assets/font/Helvetica/HelveticaNeueRoman.otf");
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 400;
  src: local("Helvetica Neue"), url("../../shared/assets/font/Helvetica/HelveticaNeueItalic.ttf");
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Helvetica Neue"), url("../../shared/assets/font/Helvetica/HelveticaNeueBold.otf");
}

.container {
  width: 80%;
}

.hv-underline:hover {
  text-decoration-line: underline;
}

//---------------------------
//      CUSTOM ANTD          |
//---------------------------
.ant-btn {
  height: 4rem;
  color: #FFF;
  line-height: normal;
  font: {
    size: 1.8rem;
    family: "Roboto", sans-serif;
    weight: 600;
  };
}

.ant-btn-primary {
  background: $bluePrimary500;

  &:hover {
    background: $bluePrimary400 !important;
  }
}

// pagination
.ant-pagination-item {
  background-color: unset !important;
  font: {
    size: 1.6rem  !important;
    family: "Roboto", sans-serif !important;
    weight: 500  !important;
  };

  &:hover {
    border-color: $bluePrimary500;
  }
}

.ant-pagination-item-active {
  background-color: $bluePrimary500 !important;
  border-color: $bluePrimary500 !important;

  a {
    color: #FFF !important;
  }
}


//---------------------------
//      UTILITIES           |
//---------------------------
.w-full {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

// Height
.h-full  {
  height: 100%;
}

// Display
.flex {
  display: flex;
}

//  Flex direction
.flex-col {
  flex-direction: column;
}

// Justify content
.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

// Align items
.items-center {
  align-items: center;
}

// Padding
.p-0 {
  padding: 0;
}

.p-x-0 {
  padding-left: 0;
  padding-right: 0;
}

// List style
.list-inside {
  list-style-position: inside;
}

.list-none {
  list-style-type: none;
}

// Cursor
.cursor-default {
  cursor: default;
}

// Text color
.text-white {
  color: white;
}

// Text align
.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

// background
.bg-section {
  background: rgba(255, 255, 255, 0.70);
  backdrop-filter: blur(7.5px);
}

.bg-section-rounded {
  padding: 2.8rem 2rem;
  border-radius: 2.4rem;
}