@import "../../../view/styles/variable";

.chip {
  border-radius: 999px;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font: {
    family: "Roboto", sans-serif;
    size: 1.4rem;
    weight: 400;
  };
  user-select: none;
  padding: 0 1.2rem;
  cursor: pointer;
  border: 1px solid transparent;
}

.chip-primary {
  background-color: $bluePrimary500;
  color: #FFF;
}

.chip-outline-primary {
  color: $gray600;
  background-color: #FFF;

  &:hover {
    color: $bluePrimary500;
    border-color: $bluePrimary500;
  }
}
