@import "../styles/variable";
@import "../styles/mixin";

.home {
  padding: {
    left: 8%;
    right: 8%;
  }

  @include for-size(md, down) {
    padding: 0;
  }

  &__company-name {
    @include font-philosopher(3rem, #FFF, 700);
    line-height: 3.6rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.20);

    @include for-size(md, down) {
      font-size: 1.4rem;
    }
  }

  &__brand-name {
    @include font-helvetica-neue(4.4rem, #9FF, 700);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 1.76px;

    @include for-size(md, down) {
      font-size: 2.4rem;
      letter-spacing: 0.96px;
    }
  }

  &__establishment-date {
    @include font-helvetica-neue(2.4rem, #FFF, 400);
    line-height: 3.6rem;
    font-style: italic;

    @include for-size(md, down) {
      font-size: 1.4rem;
    }
  }

  &__carousel {
    margin-top: 4.2rem;
    margin-bottom: 3.6rem;
  }

  &__scroll-btn {

    &:hover {
      transition: transform 0.3ms ease-out;
      animation: bounce 1s infinite;
      transform: translateY(5px);
    }

    @include for-size(md, down) {
      transition: transform 0.3ms ease-out;
      animation: bounce 1s infinite;
      transform: translateY(5px);
    }
  }

  &__section {
    &-category {
      @include font-roboto(2rem, $gray600, 600);

      @include for-size(md, down) {
        font-size: 1.2rem;
        text-align: center;
      }
    }

    &-title {
      @include font-philosopher(4.4rem, $bluePrimary600, 700);

      @include for-size(md, down) {
        font-size: 2rem;
        text-align: center;
      }
    }

    &-description {
      @include font-roboto(2rem, $gray600, 400);

      @include for-size(md, down) {
        font-size: 1.4rem;
      }
    }


    &--intro {
      padding-bottom: 15.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      text-align: center;

    }

    &--about {
      padding: 4.8rem 4rem;
      border-radius: 2.4rem 2.4rem 0 0;
      background: rgba(255, 255, 255, 0.70);
      backdrop-filter: blur(7.5px);

      @include for-size(md, down) {
        border-radius: 0;
      }

      &-banner {
        img {
          object-fit: contain;
          width: 100%;
          border-radius: 27px;
          border: 5px solid #FFF;
        }

        &--top {
          padding-right: 6rem;
        }

        &--bottom {
          padding-left: 6rem;
          margin-top: -5rem;
        }
      }
    }

    &--posts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background: rgba(78, 149, 219, 0.70);
      backdrop-filter: blur(7.5px);
      padding-top: 4rem;
      padding-bottom: 6.8rem;

      @include for-size(md, down) {
        padding: {
          left: 5%;
          right: 5%;
        };
      }

      &-cards-container {
        margin: {
          top: 3.7rem;
          bottom: 3.2rem;
        };
      }

      &-cards {
        padding: {
          left: 14%;
          right: 14%;
        }

        @include for-size(md, down) {
          padding: 0;
        }
      }
    }

    &--services {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background: rgba(255, 255, 255, 0.70);
      backdrop-filter: blur(7.5px);
      padding: {
        top: 4rem;
        bottom: 4rem;
      };
      border-radius: 0 0 2.4rem 2.4rem;

      @include for-size(md, down) {
        border-radius: 0;
        padding: {
          left: 5%;
          right: 5%;
        };
      }

      &-cards-container {
        margin-top: 3.2rem;

        .ant-card-body {
          padding: 1.6rem;
        }

        .home-card-service {
          &__title {
            @include font-roboto(2rem, $bluePrimary500, 700);
            text-overflow: ellipsis;
            @include line-clamp(1);
          }

          &__desc {
            @include font-roboto(1.6rem, $gray500, 400);
            line-height: 2.1rem;
            text-align: center;
            text-overflow: ellipsis;
            @include line-clamp(3);
          }
        }
      }

      &-cards {
        padding: {
          left: 14%;
          right: 14%;
        }

        @include for-size(md, down) {
          padding: 0;
        }
      }
    }
  }
}