@import "../styles/variable";
//----------------------------------
//          SECTION 1               |
//----------------------------------
#homeSection1 {
  padding-bottom: 15.4rem;

  h2 {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
  }

  h1 {
    margin-top: 2.4rem;
    font-size: 4.4rem;
    font-weight: 700;
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: 1.76px;
    color: #9FF;
  }

  .subtitle {
    margin-top: 2.4rem;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 2.4rem;
    color: #FFF;
    font-weight: 400;
    font-style: italic;
  }

  .slider {
    margin-top: 4.2rem;
    height: 53.2rem;
    display: flex;
    justify-content: center;

    .card:nth-child(3) {
      z-index: 3;
    }

    .card:nth-child(1), .card:nth-child(5) {
      padding-top: 9.02rem;
      z-index: 1;
    }

    .card:nth-child(1) {
      transform: translateX(9.039rem);
    }

    .card:nth-child(5) {
      transform: translateX(-9.039rem);
    }

    .card:nth-child(2), .card:nth-child(4) {
      padding-top: 2.969rem;
      z-index: 2;
    }

    .card:nth-child(2) {
      transform: translateX(2.952rem);
    }

    .card:nth-child(4) {
      transform: translateX(-2.952rem);
    }
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 3.6rem;

    &:hover {
      transition: transform 0.3ms ease-out;
      animation: bounce 1s infinite;
      transform: translateY(5px);
    }
  }
}


//----------------------------------
//          SECTION 2               |
//----------------------------------
#homeSection2 {
  border-radius: 2.4rem 2.4rem 0 0;

  .wrap-post {
    padding-top: 8.3rem;
    padding-bottom: 8.3rem;
    padding-left: 5.4rem;
  }

  .category {
    color: $gray600;
    font: {
      weight: 600;
      size: 2rem;
      family: "Roboto", sans-serif;
    };
  }

  .title {
    color: $bluePrimary600;
    font: {
      weight: 700;
      size: 4.4rem;
      style: normal;
      family: "Philosopher", sans-serif;
    };
  }

  .content {
    padding-left: 1.9rem;
    border-left: 2px solid $bluePrimary300;
    font: {
      weight: 400;
      family: "Roboto", sans-serif;
      size: 2rem
    };
  }

  .wrap-image {
    padding: 4.6rem 8.1rem 5.6rem 0;

    .banner:nth-child(1) {
      width: 48.7rem;
      height: 31.1rem;
      border-radius: 27px;
      border: 5px solid #FFF;
      background: url("../../../public/a55f5987174f55994588fa32d2c974d6.png") lightgray 50% / cover no-repeat;
    }

    .banner:nth-child(2) {
      margin-top: -5rem;
      margin-left: 6.7rem;
      width: 55.2rem;
      height: 34rem;
      border-radius: 27px;
      border: 5px solid #FFF;
      background: url("../../../public/54515f37aa3b31db6ea91eddad520eee.png") lightgray 50% / cover no-repeat;
      box-shadow: 0 4px 21px 0 rgba(0, 0, 0, 0.25);
    }
  }
}

//----------------------------------
//          SECTION 3               |
//----------------------------------
#homeSection3 {
  background: rgba(78, 149, 219, 0.70);
  backdrop-filter: blur(7.5px);
  padding-top: 4rem;
  padding-bottom: 6.8rem;

  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: white;
  }

  h4 {
    margin-top: 1.6rem;
    font-family: "Philosopher", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    color: $bluePrimary60;
  }

  .rectangle {
    margin-top: 1.6rem;
    width: 13rem;
    height: 0.6rem;
    border-radius: 10rem;
    background: $bluePrimary60;
  }

  .wrap-card {
    margin-top: 3.7rem;
  }

  .subtitle {
    margin-top: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    color: var(--gray-gray-50, #F0F0F0);
  }

  .ant-card-body {
    font-family: "Roboto", sans-serif;
    padding: 2.4rem 1.6rem 2.8rem 1.6rem;

    .post-owner {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 150%;
      color: $gray400;
    }

    .post-title {
      color: $bluePrimary500;
      font-size: 2rem;
      font-weight: 700;
      line-height: normal;
    }

    .post-desc {
      font-size: 1.6rem;
      line-height: 2.1rem;
      font-weight: 400;
      font-style: normal;
      color: $gray500;
    }

    .post-tags span {
      padding: 0.8rem 1.2rem;
      font-family: "Roboto", sans-serif;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: normal;
      color: $bluePrimary500;
      border-radius: 4.6rem;
      background: $bluePrimary50;
    }

    .post-view, .post-date {
      color: $gray400;
      font-size: 1.6rem;
      font-weight: 400;
      font-style: normal;
      line-height: 2.1rem;
    }
  }

  .wrap-btn {
    margin-top: 3.2rem;
  }
}


//----------------------------------
//          SECTION 4               |
//----------------------------------

#homeSection4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 8rem;
  border-radius: 0 0 2.4rem 2.4rem;

  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: $gray600;
  }

  h4 {
    font-family: "Philosopher", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    color: $bluePrimary600;
  }

  .rectangle {
    width: 13rem;
    height: 0.6rem;
    border-radius: 10rem;
    background: $bluePrimary60;
  }

  .subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    color: $gray600;
  }

  .wrap-card {
    margin-top: 3.2rem;

    .ant-card-body {
      font-family: "Roboto", sans-serif;

      .card-title {
        color: $bluePrimary500;
        font-size: 2rem;
        font-weight: 700;
        line-height: normal;
      }

      .card-desc {
        color: $gray500;
        line-height: 2.1rem;
        font: {
          size: 1.6rem;
          weight: 400;
        }
      }
    }
  }
}