@import "../styles/variable";
@import "../styles/mixin";
//----------------------------------
//          SECTION 1               |
//----------------------------------
#homeSection1 {
  padding-bottom: 15.4rem;

  h2 {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
  }

  h1 {
    margin-top: 2.4rem;
    font-size: 4.4rem;
    font-weight: 700;
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: 1.76px;
    color: #9FF;
  }

  .subtitle {
    margin-top: 2.4rem;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 2.4rem;
    color: #FFF;
    font-weight: 400;
    font-style: italic;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 3.6rem;

    &:hover {
      transition: transform 0.3ms ease-out;
      animation: bounce 1s infinite;
      transform: translateY(5px);
    }
  }
}


//----------------------------------
//          SECTION 2               |
//----------------------------------
#homeSection2 {
  border-radius: 2.4rem 2.4rem 0 0;
  padding: 4.8rem 4rem;

  .category {
    color: $gray600;
    font: {
      weight: 600;
      size: 2rem;
      family: "Roboto", sans-serif;
    };
  }

  .title {
    color: $bluePrimary600;
    font: {
      weight: 700;
      size: 4.4rem;
      style: normal;
      family: "Philosopher", sans-serif;
    };
  }

  .content {
    padding-left: 1.9rem;
    border-left: 2px solid $bluePrimary300;
    font: {
      weight: 400;
      family: "Roboto", sans-serif;
      size: 2rem
    };
  }

  .wrap-banner {
    .banner-item {
      img {
        object-fit: contain;
        width: 100%;
        border-radius: 27px;
        border: 5px solid #FFF;
      }

      &.banner-top {
        padding-right: 6rem;
      }

      &.banner-bottom {
        padding-left: 6rem;
        margin-top: -5rem;
      }
    }
  }
}

//----------------------------------
//          SECTION 3               |
//----------------------------------
#homeSection3 {
  background: rgba(78, 149, 219, 0.70);
  backdrop-filter: blur(7.5px);
  padding-top: 4rem;
  padding-bottom: 6.8rem;

  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: white;
  }

  h4 {
    margin-top: 1.6rem;
    font-family: "Philosopher", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    color: $bluePrimary60;
  }

  .rectangle {
    margin-top: 1.6rem;
    width: 13rem;
    height: 0.6rem;
    border-radius: 10rem;
    background: $bluePrimary60;
  }

  .wrap-card {
    margin-top: 3.7rem;
  }

  .subtitle {
    margin-top: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    color: var(--gray-gray-50, #F0F0F0);
  }

  .wrap-btn {
    margin-top: 3.2rem;
  }
}


//----------------------------------
//          SECTION 4               |
//----------------------------------

#homeSection4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 8rem;
  border-radius: 0 0 2.4rem 2.4rem;

  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: $gray600;
  }

  h4 {
    font-family: "Philosopher", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    color: $bluePrimary600;
  }

  .rectangle {
    width: 13rem;
    height: 0.6rem;
    border-radius: 10rem;
    background: $bluePrimary60;
  }

  .subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    color: $gray600;
  }

  .wrap-card {
    margin-top: 3.2rem;

    .ant-card-body {
      font-family: "Roboto", sans-serif;

      .card-title {
        color: $bluePrimary500;
        font-size: 2rem;
        font-weight: 700;
        line-height: normal;
      }

      .card-desc {
        color: $gray500;
        line-height: 2.1rem;
        text-overflow: ellipsis;
        @include line-clamp(4);
        font: {
          size: 1.6rem;
          weight: 400;
        }
      }
    }
  }
}