@import "../mixin";

#background {
  background-position: absolute;
  position: fixed;
  inset: 0;
  padding: 0;
  z-index: -2;
  object-fit: cover;
  pointer-events: none;
}

#main {
  margin-top: 15rem;
  margin-bottom: 8rem;

  @include for-size(md, down) {
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
}