@import "../../../view/styles/variable";
@import "../../../view/styles/mixin";

.topic-post {
  padding: 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  background: #FFF;

  .wrap-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: $bluePrimary500;
  }

  div:last-child {
    @include font-roboto-semi-bold(2rem, $bluePrimary300);
    text-overflow: ellipsis;
    @include line-clamp(1);
  }

  &:hover div:last-child {
    color: $bluePrimary500;
  }
}

.topic-post-primary {
  background: $bluePrimary500;

  .wrap-icon {
    color: #FFF;
  }

  div:last-child {
    color: #FFF;
  }

  &:hover div:last-child {
    color: #FFF;
  }
}