@import "../styles/variable";
#recruitmentSection {
  .container-search-filter {
    padding: 2.4rem 2rem;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(7.5px);
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.10);

    .filter-group {
      font: {
        family: "Roboto", sans-serif;
        size: 2rem;
        weight: 700;
      };
      color: $bluePrimary500;
    }

    .filter-icon {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  .wrap-main {
    margin-top: 4.8rem;
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: #FFF;
  }

  .card {
    padding: 2rem;
    border-radius: 12px;
    background: #FFF;
    backdrop-filter: blur(7.5px);
    font-family: "Roboto", sans-serif;

    .card-status {
      align-self: end;
      border-radius: 4.6rem;
      background: $green-50;
      padding: 0.8rem 1.2rem;
      color: $green-500;
      font: {
        size: 1.4rem;
        weight: 600;
      };
    }

    .card-wrap-avatar {
      align-self: start;
    }

    .card-title {
      color: $bluePrimary500;
      font: {
        size: 2rem;
        weight: 700;
      };
      line-height: 2rem;
    }

    .card-subtitle {
      font: {
        size: 1.4rem;
        weight: 400;
      };
      line-height: 2rem;
      color: $bluePrimary400;
    }
    .job-location {
      margin-top: 0.4rem;
      color: $gray500;
      font: {
        size: 1.4rem;
        weight: 400;
        style: normal;
      };
    }

    .card-description {
      font: {
        size: 1.3rem;
        weight: 400;
      };
      color: $gray500;
      line-height: 1.7rem;
      text-align: justify;
      height: 6.8rem;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: wrap;
    }

    .card-label-description {
      margin-top: 0.8rem;
      color: $bluePrimary500;
      font-size: 1.6rem;
      font-weight: 600;
    }

    button {
      margin-top: 1.6rem;
      width: 100%;
    }
  }

  .container-pagination {
    margin-top: 3.2rem;
    margin-bottom: 8rem;

    .wrap-pagination {
      background: rgba(255, 255, 255, 0.70);
      backdrop-filter: blur(7.5px);
      border-radius: 2rem;
      padding: 0.5rem 1rem;
    }
  }
}